/*! Plugins */
// ==========================================================================
/*!
 * Preloader
 */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--bg-color); /* change if the mask should have another color then white */
	z-index: 9999; /* makes sure it stays on top */
}

#status {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-logo {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 168px;
    margin: 0 auto;
    background: var(--secondary-color);
    //background: #eee;
    transform: scale(1);
}

.c-logo__icon {
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    width: 202px;
    height: 170px;
    fill: var(--bg-color);
    //fill: #fff;
}

.c-logo__fill {
    width: 202px;
    height: 170px;
    background: var(--font-color);
    //background: #7Fbc5b;
    animation: fillUp 1.5s ease-in-out infinite;
}

@-webkit-keyframes fillUp {
    0% {
        transform: translate(0, 170px);
    }
    100% {
        transform: translate(0, -170px);
    }
}

@keyframes fillUp {
  0% {
        transform: translate(0, 170px);
    }
    100% {
        transform: translate(0, -170px);
    }
}

.x-reset-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 50px;
}

/*!
 * SSS Slider
*/
.sss {
	height: 0;
	margin: 0; 
	padding: 0;
	position: relative;
	display: block;
	overflow: hidden;
}

.ssslide {
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
}

.ssslide img {
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
}

.sssnext, .sssprev {
	width: 1.5rem;
	height: 1.5rem;
	margin: -1rem 0 0 0;
    padding: 0.25rem;
	position: absolute;
	top: 50%;
	//background: url('../img/arr.png') no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath d='M184.7,413.1l2.1-1.8l156.5-136c5.3-4.6,8.6-11.5,8.6-19.2c0-7.7-3.4-14.6-8.6-19.2L187.1,101l-2.6-2.3 C182,97,179,96,175.8,96c-8.7,0-15.8,7.4-15.8,16.6h0v286.8h0c0,9.2,7.1,16.6,15.8,16.6C179.1,416,182.2,414.9,184.7,413.1z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255, 238, 203, 0.4);
    background-size: 1rem;
}

.sssprev {
	left: 2%;
	//background-position: 0 50%;
    transform: rotate(180deg);
}

.sssnext {
	right: 2%;
	//background-position: -26px 50%;
    //transform: rotate(45deg);
}

.sssprev:hover, .sssnext:hover {
	cursor: pointer;
}


/*
    A simple jQuery modal (http://github.com/kylefox/jquery-modal)
    Version 0.9.2
*/
.blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 19;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(191, 180, 143);
    background-color: rgba(191, 180, 143, 0.8);
    text-align: center;
}

.blocker:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.05em;
}

.blocker.behind {
    background-color: transparent;
}

.modal {
    display: none;
    vertical-align: middle;
    position: relative;
    z-index: 20;
    max-width: 500px;
    box-sizing: border-box;
    width: 90%;
    background: var(--bg-color);
    padding: 15px 30px;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    text-align: left;
}

.modal a.close-modal {
    position: absolute;
    top: -14.5px;
    right: -14.5px;
    display: block;
    width: 34px;
    height: 34px;
    text-indent: -9999px;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='48px' height='48px' viewBox='0 0 48 48' enable-background='new 0 0 48 48' xml:space='preserve'%3E%3Cline fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' x1='10' y1='10' x2='38' y2='38'/%3E%3Cline fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' x1='38' y1='10' x2='10' y2='38'/%3E%3C/svg%3E");
    background-size: 24px;
    background-color: var(--font-color);
    border-radius: 50%;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.4);
}

.modal-spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 12px 16px;
  border-radius: 5px;
  background-color: #111;
  height: 20px;
}

.modal-spinner > div {
  border-radius: 100px;
  background-color: #fff;
  height: 20px;
  width: 2px;
  margin: 0 1px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.modal-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.modal-spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.modal-spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.5) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/**
    Page 404
    https://codepen.io/jhnsnc/pen/JbeVBZ
**/
#patt1 path {
    stroke: #D6A640;
}

#patt2 path {
    stroke: #BFB48F;
}

#patt3 path {
    stroke: #427859;
}

#patt4 path {
    stroke: #87b5ce;
}

#mask1 rect {
  -webkit-animation: pulse 1.90476s infinite;
          animation: pulse 1.90476s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
          animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#mask2 rect {
  x: 10;
  -webkit-animation: pulse 1.90476s infinite 0.47619s;
          animation: pulse 1.90476s infinite 0.47619s;
  -webkit-animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
          animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#squiggle1, #squiggle2, #squiggle3, #squiggle4 {
    background-blend-mode: multiply;
}

@-webkit-keyframes pulse {
  0% {
    x: 10;
  }
  50% {
    x: -20;
  }
  100% {
    x: -50;
  }
}

@keyframes pulse {
  0% {
    x: 10;
  }
  50% {
    x: -20;
  }
  100% {
    x: -50;
  }
}


/**
 *
 * JQUERY EU COOKIE LAW POPUPS
 * version 1.1.1
 *
 * Code on Github:
 * https://github.com/wimagguc/jquery-eu-cookie-law-popup
 *
 * To see a live demo, go to:
 * http://www.wimagguc.com/2018/05/gdpr-compliance-with-the-jquery-eu-cookie-law-plugin/
 *
 * by Richard Dancsi
 * http://www.wimagguc.com/
 *
 */
.clearfix {
	clear: both;
}

.eupopup-container {
	background-color: rgba(16, 16, 16, 1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.7);
	color: #ffeecb;
	padding: 10px 25px;
	font-size: 12px;
	line-height: 1.7em;
    letter-spacing: 1px;
	text-align: center;
	display: none;
	z-index: 9999999;
}

.eupopup-container-top,
.eupopup-container-fixedtop {
	position: absolute;
	top: 0; left: 0; right: 0;
}

.eupopup-container-fixedtop {
	position: fixed;
}

.eupopup-container-bottom {
	position: fixed;
	bottom: 5px;
    left: 5px;
    right: 20px;
}

.eupopup-container-bottomleft {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 300px;
}

.eupopup-container-bottomright {
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 320px;
}

.eupopup-closebutton {
    position: absolute;
	top: 0;
    right: 0;
	padding: 2px;
}

.eupopup-closebutton svg {
    width: 22px;
    fill: #ffeecb;
    pointer-events: none;
    vertical-align: top;
}

.eupopup-closebutton:hover,
.eupopup-closebutton:active {
	color: #BFB48F;
	text-decoration: none;
}

.eupopup-closebutton:hover svg,
.eupopup-closebutton:active svg {
    fill: #BFB48F;
}

.eupopup-head {
	text-transform: uppercase;
	padding: 10px 0 5px;
	color: #fff;
}

.eupopup-body {
	color: #ffeecb;
    font-weight: 400;
}

.eupopup-buttons {
	padding: 20px 0 10px 0;
}

.eupopup-button_1 {
	color: rgba(19, 8, 9, 1);
    background-color: #ffeecb;
    text-transform: uppercase;
}

.eupopup-button_2 {
	color: #ffeecb;
    background-color: transparent;
    text-transform: uppercase;
}

.eupopup-button {
	margin: 0 10px;
    font-weight: 700;
	font-size: 12px;
    line-height: 14px;
    padding: 6px 12px;
    text-decoration: none;
}

.eupopup-button_1:hover,
.eupopup-button_1:focus {
	text-decoration: none;
    background-color: #BFB48F;
}

.eupopup-button_2:hover,
.eupopup-button_2:focus {
    color: #BFB48F;
}

body .eupopup-color-inverse {
	color: #000;
	background-color: rgba(255, 255, 255, 0.9);
}

body .eupopup-color-inverse .eupopup-head {
	color: #000;
}

body .eupopup-style-compact {
	text-align: left;
	padding: 8px 30px 7px 20px;
	line-height: 14px;
}

body .eupopup-style-compact .eupopup-head,
body .eupopup-style-compact .eupopup-body,
body .eupopup-style-compact .eupopup-buttons {
	display: inline;
	padding: 0;
	margin: 0;
}

body .eupopup-style-compact .eupopup-button {
	margin: 0 5px;
}

.eupopup-container-hide {
    display: none !important;
}


// jQuery timeout modal
// https://www.jqueryscript.net/lightbox/Open-Modal-After-Timeout-jQuery-timeoutModal.html 
.timeoutPopup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, .015);
    z-index: 999;
    visibility: visible;
    opacity: 1;
    transition: opacity .1s linear, visibility .1s linear, background .1s linear;
}

.timeoutPopup_hidden {
    visibility: hidden;
    opacity: 0;
    background: transparent;
}

.timeoutPopup_hidden .timeoutPopup__wrapper {
    top: -100%;
    visibility: hidden;
    opacity: 0;
}

.timeoutPopup__wrapper {
    /*margin: 20vh 0 30px;
    position: relative;
    max-width: 1200px;*/
    visibility: visible;
    opacity: 1;
    transition: opacity .4s linear, visibility .4s linear, top .4s linear;
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.timeoutPopup__content {
    background: var(--bg-color);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 10px 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 8px 0 rgba(0, 0, 0, 0.08);
    
    p {
        color: var(--font-color);
        font-weight: 700;
        font-size: 0.9em;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        margin: 5px auto;
        text-align: center;
    }
}

.timeoutPopup__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    //background: url(../img/timeoutPopup__close.png) no-repeat;
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z'%3E%3C/path%3E%3Cpath d='M0 0h24v24h-24z' fill='none'%3E%3C/path%3E%3C/svg%3E");
    background-color: transparent;
    //border-radius: 50%;
    //box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 8px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

