/*! Shop */
// ========================================================================== 

.woocommerce input,
.woocommerce select {
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
    width: calc(100% - 16px);
    width: ~"calc(100% - 16px)";
}

.woocommerce button,
.woocommerce .button {
    height: 42px;
    line-height: 42px;
}

.woocommerce .cart-dropdown button,
.woocommerce .cart-dropdown .button {
    height: auto;
    line-height: normal;
}

.woocommerce input[type="checkbox"],
.woocommerce input[type="radio"] {
    width: 18px;
    height: 18px;
    padding: 0;
}

.woocommerce textarea {
    width: calc(100% - 16px);
    width: ~"calc(100% - 16px)";
}

.woo-items-count .cart-contents-count {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
    display: block;
    padding: 0.15em;
    line-height: 1;
    border-radius: 0;
    background-color: var(--font-color);
    z-index: 11;
    
    @media (min-width: 601px) {
        top: 10px;
        right: 10px;
    }
}

/* Mini cart panel */
.widget_shopping_cart {
    position: fixed;
    right: 0;
    top: 68px;
    width: 300px;
    max-width: calc(50% - 2em);
    max-width: ~"calc(50% - 2em)";
    height: auto;
    color: var(--font-color);
    background-color: var(--bg-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), 0 4px 12px rgba(0, 0, 0, .075);
    padding: 1em 1em 0.5em 1em;
    z-index: 9999;
    display: none;
}

.widget_shopping_cart .dropdown-cart-wrap.isempty {
    display: block;
    border-bottom: none;
    margin: 20px 0;
}

.woocommerce-mini-cart__empty-message,
.widget_shopping_cart .dropdown-cart-wrap.isempty p {
    text-align: center;
    padding: 0;
}

.woocommerce-mini-cart {
    padding-left: 0;
}

.mini_cart_item {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid var(--font-color);
    margin-bottom: 1em;
    padding: 7px 0;
    line-height: 1.4;
    font-size: 0.875rem;
}

.mini_cart_item:last-child {
    border-bottom-color: var(--font-color);
}

.mini_cart_item .remove_from_cart_button {
    display: none;
    font-size: 16px;
    color: var(--primary-color);
    background-color: transparent;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 0;
    border-radius: 0;
    text-decoration: none;
    
    @media (min-width: 481px) {
        display: block;
    }
}

.mini_cart_item .remove_from_cart_button:hover,
.mini_cart_item .remove_from_cart_button:focus {
    color: var(--bg-color);
    background-color: var(--primary-color);
}

.mini_cart_item {
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    margin-right: 7px;
    color: var(--font-color);
    text-decoration: none;
    font-size: 0.875rem;
}

.mini_cart_item img {
    display: none;
    width: auto;
    height: 40px;
    margin: 0 10px 2px 5px;
    
    @media (min-width: 481px) {
        display: block;
    }
}

.mini_cart_item .quantity {
    text-align: right;
    margin-left: auto;
    font-weight: 400;
}

.woocommerce-mini-cart__total {
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: right;
    font-size: 1rem;
}

.woocommerce-mini-cart__buttons {
    display: flex;
    justify-content: space-between;
    //padding-top: 10px;
    //padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}

.woocommerce-mini-cart__buttons a {
    color: var(--bg-color);
    background-color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    line-height: 1.2;
    padding: 7px 10px;
    font-size: 0.813rem;
    height: auto;
    .transition04;
}

.woocommerce-mini-cart__buttons a:hover,
.woocommerce-mini-cart__buttons a:focus {
    //color: var(--font-color);
    background-color: var(--font-color);
}
/* Mini cart panel ends */

/* Product */
.shop .shop-grid {
    position: relative;
    z-index: 3;
}

.shop h2 {
    text-align: center;
    margin-bottom: 4rem;
}

.shop p {
    font-size: 0.938rem; // 15px
    
    @media (min-width: 768px) {
        font-size: 1rem; // 16px
    }
}

.product-card {
    border-top: 2px solid var(--secondary-color);
    padding: 3rem 0 !important;
}

.product-card.row .column {
    padding: 0;
}

.product-card .product_title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.094rem;
    margin-bottom: 2rem;
    
    font-size: 1.75rem; // 28px
    
    @media (min-width: 768px) {
        font-size: 2rem; // 32px
    }
}

.product-card .product_title::after {
    display: block;
    content: "";
    height: 8px;
    width: 40px;
    margin-top: 3px;
    background-color: var(--primary-color);
}

.product-card .nota {
    font-weight: 700;
    text-decoration: none;
    color: var(--font-color);
    border-bottom: 2px solid var(--font-color);
    display: inline-block;
    padding: 0.5rem 0 0 0;
    margin: 1rem 0;
    .transition04;

    font-size: 0.938rem; // 15px
    
    @media (min-width: 768px) {
        font-size: 1rem; // 16px
    }
}

.product-card .nota:hover,
.product-card .nota:focus {
    border-color: transparent;
}

.product-card .price {
    color: var(--primary-color);
    font-weight: 700;
    
    font-size: 2.5rem; // 40px
    
    @media (min-width: 768px) {
        font-size: 3.125rem; // 50px
    }
}

.col-image {
    text-align: center;
}

.add-to-cart {
    position: relative;
    display: flex;
    align-items: center;
}

.single_add_to_cart_button {
    margin: 0;
}

.quantity {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantity input {
    width: 45px;
    height: 48px;
    line-height: 48px;
    float: left;
    display: block;
    margin: 0 0.5rem 0 0;
    /*padding-right: 0;
    padding-left: 20px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;*/
    padding: 0 0 0 20px;
    border: 1px solid var(--font-color);
    font-size: 1rem;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    //height: 42px;
    height: 3rem;
    line-height: 3rem;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    //border-left: 1px solid red;
    width: 20px;
    text-align: center;
    color: var(--font-color);
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 24px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-left: -9px;
    
    //background-color: aqua;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 1px;
    //border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}

.sold-out {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 50px;
    width: auto;
    min-width: 260px;
    color: var(--primary-color);
    background-color: var(--font-color);;
    margin: 0;
    line-height: 50px;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 2em;
    text-align: center;
}

/* Grid lines */
.lines-shop {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -3.75em;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    
    @media (min-width: 769px) {
        display: block;
    }
}

.lines-shop .line {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 1px;
    //background-color: var(--secondary-color);
    background-color: rgba(191, 180, 143, 0.4);
}

.lines-shop .line:nth-child(1) {
    left: 0;
}

.lines-shop .line:nth-child(2) {
    left: 33.33333%;
}

.lines-shop .line:nth-child(3) {
    left: 66.66666%;
}

.lines-shop .line:nth-child(4) {
    left: 100%;
}

/* Screen Reader Text ------------------------ */

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	right: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}


/* Cart page */
.shop_table {
    font-size: 12px;
    
    @media (min-width: 481px) {
        font-size: 14px;
    }
}

.shop_table tr {
    border-style: solid;
}

.shop_table td {
    vertical-align: middle;
}

.shop_table .product-thumbnail {
    display: none;
    
    @media (min-width: 481px) {
        display: block;
    }
}

.shop_table .product-thumbnail a {
    display: block;
    height: 66px;
}

.shop_table .product-thumbnail img {
    max-width: 25px;
}

.shop_table .product-remove a {
    display: block;
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: var(--primary-color);
    text-decoration: none;
}

.shop_table .product-remove a:hover,
.shop_table .product-remove a:focus {
    color: var(--bg-color);
    background-color: var(--primary-color);
}

.shop_table tbody .product-name {
    text-transform: uppercase;
    font-weight: 700;
}

.shop_table .actions {
    //display: none;
    text-align: right;
}

.shop_table .coupon {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.shop_table .coupon input {
    font-size: 12px;
    padding: 0 10px;
    width: auto;
    
    @media (min-width: 768px) {
        font-size: 1rem;
        padding: 0 16px;
    }
}

.shop_table .coupon label {
    margin-right: 5px;
}

.shop_table .coupon button {
    margin: 0;
}

.cart-collaterals {
    display: inline-block;
    max-width: 440px;
    margin-top: 2em;
}

.cart-collaterals h2 {
    font-size: 1.625rem; // 26px
    
    @media (min-width: 768px) {
        font-size: 2.125rem; // 34px
    }
}

.cart-collaterals table th,
.cart-collaterals table td {
    padding: 1.5em 0.75em;
}

.cart-collaterals table th {
    font-size: 1em;
    font-weight: 700;
}

.cart-collaterals table td {
    text-align: right;
}

.cart-collaterals .checkout-button {
    color: var(--bg-color);
    background-color: var(--primary-color);
    padding: 0 20px;
}

.cart-collaterals .checkout-button:hover,
.cart-collaterals .checkout-button:focus {
    color: var(--primary-color);
    background-color: var(--font-color);
}

.woocommerce-shipping-methods {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.woocommerce-shipping-methods li {
    margin: 10px 0;
    display: flex;
}

.shipping-calculator-form p {
    padding-bottom: 15px;
}
/* Cart page ends */


/* Checkout page */
.checkout-wrapper {
    display: flex;
    flex-direction: row;
}

.checkout-wrapper #customer_details {
    width: 50%;
    margin-right: 5%;
}

.checkout-wrapper #order_review {
    width: 45%;
}

#order_review table th,
#order_review table td {
    padding: 1.5em 0.75em;
}

.checkout #order_review .shop_table {
    margin-bottom: 80px;
}

.checkout #order_review .shop_table .order-total {
    //border-bottom: 1px solid @black;
    text-transform: uppercase;
    font-size: 14px;
}

.checkout label {
    margin-bottom: 5px;
}

.checkout input {
    margin: 5px 0;
}

#payment ul {
    list-style-type: none;
    padding-left: 0;
}

#payment li {
    margin: 10px 0;
}

#payment p,
#payment label {
    font-size: 12px;
}

#payment .payment_box {
    margin: 15px 0;
    padding: 5px 25px;
    background-color: white;
}

#payment .woocommerce-terms-and-conditions-wrapper {
    margin-top: 30px;
}

#payment .woocommerce-terms-and-conditions-wrapper p {
    font-size: 12px;
}

#payment .payment_method_ppec_paypal img {
    vertical-align: middle;
}

@media (max-width: 640px) {
    .checkout-wrapper {
        flex-direction: column;
    }

    .checkout-wrapper #customer_details {
        width: 100%;
        margin-right: 0;
    }

    .checkout-wrapper #order_review {
        width: 100%;
    }
}
/* Checkout page ends */


/* Order received page */
.woocommerce-order p.woocommerce-notice {
    padding: 10px;
    margin: 0 0 30px;
    background-color: var(--seconday-color);
}

.woocommerce-order ul.woocommerce-order-overview {
    margin: 10px 0 30px;
}

.woocommerce-order ul.woocommerce-order-overview li {
    margin: 10px 0;
}

.woocommerce-order-details table td,
.woocommerce-order-details table th {
    padding: 1.5em 0.75em;
    font-size: 1em;
}
/* Order received page ends */


/* Woocommerce notices */
.before-grid {
    display: flex;
    flex-direction: column-reverse;
}

.woocommerce-ordering {
    width: 200px;
    //width: auto;
    margin: -78px 0 40px auto;
    
    .orderby {
        font-family: 'Fira Sans', sans-serif;
        font-size: 12px;
        border-color: transparent;
        border-bottom: 1px dotted var(--font-color);
        padding: 0 5px;
    }
}

#width_tmp_select {
    display : none;
} 

.woocommerce-result-count {
    font-size: 11px;
    line-height: 1.2;
    padding-bottom: 20px;
}

@media (max-width: 600px) {
    .before-grid {
        margin-top: -20px;
    }
    
    .woocommerce-ordering {
        margin: -88px 0 30px auto;
    }
}

@media (max-width: 360px) {
    .woocommerce-ordering {
        //width: 200px;
    }
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
    padding: 1em 1em 1em 3.5em;
    margin: 0 0 2em;
    position: relative;
    border-radius: 0;
    background: white;
    color: var(--font-color);
    list-style: none outside;
    width: auto;
    font-size: 14px;
}

.woocommerce-message:after,
.woocommerce-error:after,
.woocommerce-info:after {
    content: "";
    display: block;
    clear: both;
}

.woocommerce-message:before,
.woocommerce-error:before,
.woocommerce-info:before {
    content: "";
    height: 1.5em;
    width: 1.5em;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: center;
    color: var(--primary-color);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    padding-top: 0.5em;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
}

.woocommerce-message .button,
.woocommerce-error .button,
.woocommerce-info .button {
    float: right;
    height: auto;
    line-height: normal;
    border-top: none;
    border-bottom: none;
}

ul.woocommerce-error {
    padding-left: 3.5em;
}

.woocommerce-message li,
.woocommerce-error li,
.woocommerce-info li {
    list-style: none outside;
    padding-left: 0;
    margin: 10px 0;
}

.woocommerce-message {
    border-top: 3px solid var(--font-color);
}

.woocommerce-message:before {
    background-color: var(--font-color);
    content: "\2713";
}

.woocommerce-message .restore-item,
.woocommerce-info .showcoupon {
    color: var(--font-color);
    font-weight: 700;
}

.woocommerce-info {
    border-top: 3px solid var(--font-color);
}

.woocommerce-info:before {
    background-color: var(--font-color);
    content: "i";
    font-family: Times, Georgia, serif;
    font-style: italic;
}

.woocommerce-error {
    border-top: 3px solid var(--primary-color);
}

.woocommerce-error:before {
    background-color: var(--font-color);
    content: "\00d7";
    font-weight: 700;
}

.addtocart-wrap {
    //display: flex;
    //flex-direction: column-reverse;
    position: relative;
}

.added_to_cart {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.063rem;
    color: var(--bg-color);
    background-color: var(--font-color);
    padding: 6px 16px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 60px;
}

.added_to_cart:hover,
.added_to_cart:focus {
    background-color: var(--primary-color);
    color: var(--font-color);
}
/* Woocommerce notices end */


/* My account page */
.woocommerce-MyAccount-navigation ul {
    list-style-type: inherit;
    margin: 30px 0;
}

.woocommerce-MyAccount-content {
    margin: 30px 0;
    display: inline-block;
}

.woocommerce-MyAccount-navigation a:not(.button),
.woocommerce-MyAccount-content a:not(.button),
.addresses a,
.lost_password a {
    color: var(--font-color);
    font-weight: 700;
}

.woocommerce-MyAccount-navigation a:not(.button):hover,
.woocommerce-MyAccount-navigation a:not(.button):focus,
.woocommerce-MyAccount-content a:not(.button):hover,
.woocommerce-MyAccount-content a:not(.button):focus,
.addresses a:hover,
.addresses a:focus,
.lost_password a:hover,
.lost_password a:focus {
    color: var(--primary-color);
}

.woocommerce-form {
    max-width: 380px;
}

/**
     *  Password strength meter
     */
    .woocommerce-password-strength {
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        padding: 2px 7px;
        float: left;
        max-width: 280px;
        line-height: 1.5;

        &.strong {
            background-color: #c1e1b9;
            border-color: #83c373;
        }

        &.short {
            background-color: #f1adad;
            border-color: #e35b5b;
        }

        &.bad {
            background-color: #fbc5a9;
            border-color: #f78b53;
        }

        &.good {
            background-color: #ffe399;
            border-color: #ffc733;
        }
    }

.woocommerce-password-hint {
    float: left;
    margin: 5px 0 15px;
    line-height: 1.5;
}

.woocommerce-form__label-for-checkbox {
    margin-top: 20px;
    font-weight: 400;
}

.woocommerce-form__label-for-checkbox input[type="checkbox"] {
    position: inherit;
    margin: 2px 8px 0 0;
}

.lost_reset_password {
    max-width: 400px;
}
/* My account page ends */


