/*! Variables */
// ==========================================================================

// Typography
:root {
    //--fontSize: calc(14px + 0.698vw); /* The character count on */  
    //--lineHeight: ~"calc(var(--fontSize) * 1.7)";
    //--letterSpacing: ~"calc(var(--fontSize) * 0.0015)";
    //--fontWeight: 300;
}

// Colors 
// coolors.co/d6a640-101010-ffeecb-ffeecb-bfb48f
:root {
    --bg-color: #ffeecb; // rgba(255, 238, 203, 1);
    --font-color: #101010; // rgba(16, 16, 16, 1);
    --primary-color: #D6A640; // rgba(214, 166, 64, 1);
    --secondary-color: #BFB48F; // rgba(191, 180, 143, 1);
    --bg-transparent: rgba(255, 238, 203, 0.6);
}
