/*! Grid */
// ==========================================================================

/*!
 * Milligram v1.0.3
 * http://milligram.github.io
 *
 * Copyright (c) 2016 CJ Patoilo
 * Licensed under the MIT license
*/
// .container is main centered wrapper with a max width of 1120rem (1120px)
.container {
    margin: 0 auto;
    //max-width: 112rem; // 1792px
    //max-width: 80rem; // 1280px
    max-width: 64rem; // 1024px
    //max-width: 90%;
    padding: 0 2rem;
    position: relative;
    width: 100%;
}

.shop .container {
    padding: 0 1rem;
    max-width: 90%;
    
    @media (min-width: 1025px) {
        max-width: 64rem;
    }
}

// Using flexbox for the grid, inspired by Philip Walton:
// http://philipwalton.github.io/solved-by-flexbox/demos/grids/
// By default each .column within a .row will evenly take up
// available width, and the height of each .column with take
// up the height of the tallest .column in the same .row.

.row {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.row.row-wrap {
    flex-wrap: wrap;
}

.row.row-no-padding {
    padding: 0;
}

.row.row-no-padding > .column {
    padding: 0;
}

.row.row-top {
    align-items: flex-start;
}

.row.row-bottom {
    align-items: flex-end;
}

.row.row-center {
    align-items: center;
}

.row.row-stretch {
    align-items: stretch;
}

.row.row-baseline {
    align-items: baseline;
}

.row .column {
    display: block;
    flex: 1;
    //margin-left: 0;
    max-width: 100%;
    width: 100%;
    margin: 2rem 0;
}

.row .column.col-top {
    align-self: flex-start;
}

.row .column.col-bottom {
    align-self: flex-end;
}

.row .column.col-center {
    align-self: center;
}

.row .column.column-10,
.row .column.column-20,
.row .column.column-25,
.row .column.column-33,
.row .column.column-34,
.row .column.column-40,
.row .column.column-50,
.row .column.column-60,
.row .column.column-66,
.row .column.column-67,
.row .column.column-75,
.row .column.column-80,
.row .column.column-90 {
    max-width: 100%;
}



@media (min-width: 769px) {
    .row {
        flex-direction: row;
        margin-left: -1rem;
        width: calc(100% + 2.0rem);
        width: ~"calc(100% + 2.0rem)";
    }
    .row .column {
        //margin-bottom: inherit;
        padding: 0 1rem;
        margin: 0;
    }
    
    .row .column.column-10 {
        max-width: 10%;
    }

    .row .column.column-20 {
        max-width: 20%;
    }

    .row .column.column-25 {
        max-width: 25%;
    }

    .row .column.column-33,
    .row .column.column-34 {
        max-width: 33.3333%;
    }

    .row .column.column-40 {
        max-width: 40%;
    }

    .row .column.column-50 {
        max-width: 50%;
    }

    .row .column.column-60 {
        max-width: 60%;
    }

    .row .column.column-66,
    .row .column.column-67 {
        max-width: 66.6666%;
    }
    .row .column.column-75 {
        max-width: 75%;
    }

    .row .column.column-80 {
        max-width: 80%;
    }

    .row .column.column-90 {
        max-width: 90%;
    }
}

