/*! Plugins */
// ==========================================================================
/*!
 * Preloader
 */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--bg-color); /* change if the mask should have another color then white */
	z-index: 9999; /* makes sure it stays on top */
}

#status {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-logo {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 168px;
    margin: 0 auto;
    background: var(--secondary-color);
    //background: #eee;
    transform: scale(1);
}

.c-logo__icon {
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    width: 202px;
    height: 170px;
    fill: var(--bg-color);
    //fill: #fff;
}

.c-logo__fill {
    width: 202px;
    height: 170px;
    background: var(--font-color);
    //background: #7Fbc5b;
    animation: fillUp 1.5s ease-in-out infinite;
}

@-webkit-keyframes fillUp {
    0% {
        transform: translate(0, 170px);
    }
    100% {
        transform: translate(0, -170px);
    }
}

@keyframes fillUp {
  0% {
        transform: translate(0, 170px);
    }
    100% {
        transform: translate(0, -170px);
    }
}

.x-reset-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 50px;
}

/*!
 * SSS Slider
*/
.sss {
	height: 0;
	margin: 0; 
	padding: 0;
	position: relative;
	display: block;
	overflow: hidden;
}

.ssslide {
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
}

.ssslide img {
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
}

.sssnext, .sssprev {
	width: 1.5rem;
	height: 1.5rem;
	margin: -1rem 0 0 0;
    padding: 0.25rem;
	position: absolute;
	top: 50%;
	//background: url('../img/arr.png') no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath d='M184.7,413.1l2.1-1.8l156.5-136c5.3-4.6,8.6-11.5,8.6-19.2c0-7.7-3.4-14.6-8.6-19.2L187.1,101l-2.6-2.3 C182,97,179,96,175.8,96c-8.7,0-15.8,7.4-15.8,16.6h0v286.8h0c0,9.2,7.1,16.6,15.8,16.6C179.1,416,182.2,414.9,184.7,413.1z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255, 238, 203, 0.4);
    background-size: 1rem;
}

.sssprev {
	left: 2%;
	//background-position: 0 50%;
    transform: rotate(180deg);
}

.sssnext {
	right: 2%;
	//background-position: -26px 50%;
    //transform: rotate(45deg);
}

.sssprev:hover, .sssnext:hover {
	cursor: pointer;
}
