/*! Shop */
// ==========================================================================

.woo-items-count a span {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
    display: block;
    padding: 0.15em;
    line-height: 1;
    border-radius: 0;
    background-color: var(--font-color);
    z-index: 11;
    
    @media (min-width: 601px) {
        top: 10px;
        right: 10px;
    }
}

/* Mini cart panel */
.widget_shopping_cart {
    position: fixed;
    right: 0;
    top: 68px;
    width: 300px;
    /*width: calc(20% - 2em);
    width: ~"calc(20% - 2em)";*/
    max-width: calc(50% - 2em);
    max-width: ~"calc(50% - 2em)";
    height: auto;
    color: var(--font-color);
    background-color: var(--bg-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), 0 4px 12px rgba(0, 0, 0, .075);
    padding: 1em 1em 0.5em 1em;
    z-index: 9999;
    display: none;
}

.widget_shopping_cart .dropdown-cart-wrap.isempty {
    display: block;
    border-bottom: none;
    margin: 20px 0;
}

.woocommerce-mini-cart__empty-message,
.widget_shopping_cart .dropdown-cart-wrap.isempty p {
    text-align: center;
    padding: 0;
}

.woocommerce-mini-cart {
    padding-left: 0;
}

.mini_cart_item {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid var(--font-color);
    margin-bottom: 1em;
    padding: 7px 0;
    line-height: 1.4;
    font-size: 0.875rem;
}

.mini_cart_item:last-child {
    border-bottom-color: var(--font-color);
}

.mini_cart_item .remove_from_cart_button {
    font-size: 16px;
    color: var(--primary-color);
    background-color: transparent;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 3px;
    border-radius: 0;
}

.mini_cart_item .remove_from_cart_button:hover,
.mini_cart_item .remove_from_cart_button:focus {
    color: var(--bg-color);
    background-color: var(--primary-color);
}

.mini_cart_item .wc-thumb-title {
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    font-weight: 700;
    width: 80%;
    margin-right: 7px;
    color: var(--font-color);
    text-decoration: none;
    font-size: 1rem;
}

.mini_cart_item .wc-thumb-title img {
    width: auto;
    height: 40px;
    margin: 0 10px 2px 5px;
}

.mini_cart_item .quantity {
    text-align: right;
}

.woocommerce-mini-cart__total {
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: right;
    font-size: 1rem;
}

.woocommerce-mini-cart__buttons {
    display: flex;
    justify-content: space-between;
    //padding-top: 10px;
    //padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 0.813rem;
    font-weight: 700;
}

.woocommerce-mini-cart__buttons a {
    color: var(--bg-color);
    background-color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    line-height: 1.2;
    padding: 7px 10px;
    .transition04;
}

.woocommerce-mini-cart__buttons a:hover,
.woocommerce-mini-cart__buttons a:focus {
    //color: var(--font-color);
    background-color: var(--font-color);
}
/* Mini cart panel ends */

/* Product */
.shop .shop-grid {
    position: relative;
    z-index: 3;
}

.shop h2 {
    text-align: center;
    margin-bottom: 4rem;
}

.shop p {
    font-size: 0.938rem; // 15px
    
    @media (min-width: 768px) {
        font-size: 1rem; // 16px
    }
}

.product-card {
    border-top: 2px solid var(--secondary-color);
    padding: 3rem 0 !important;
}

.product-card.row .column {
    padding: 0;
}

.product-card .product_title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.094rem;
    margin-bottom: 2rem;
    
    font-size: 1.75rem; // 28px
    
    @media (min-width: 768px) {
        font-size: 2rem; // 32px
    }
}

.product-card .product_title::after {
    display: block;
    content: "";
    height: 8px;
    width: 40px;
    margin-top: 3px;
    background-color: var(--primary-color);
}

.product-card .nota {
    font-weight: 700;
    text-decoration: none;
    color: var(--font-color);
    border-bottom: 2px solid var(--font-color);
    display: inline-block;
    padding: 0.5rem 0 0 0;
    margin: 1rem 0;
    .transition04;

    font-size: 0.938rem; // 15px
    
    @media (min-width: 768px) {
        font-size: 1rem; // 16px
    }
}

.product-card .nota:hover,
.product-card .nota:focus {
    border-color: transparent;
}

.product-card .price {
    color: var(--primary-color);
    font-weight: 700;
    
    font-size: 2.5rem; // 40px
    
    @media (min-width: 768px) {
        font-size: 3.125rem; // 50px
    }
}

.col-image {
    text-align: center;
}

.cart {
    display: flex;
    align-items: center;
}

.single_add_to_cart_button {
    margin: 0;
}

.quantity {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantity input {
    width: 45px;
    //height: 42px;
    //line-height: 1.65;
    height: 48px;
    line-height: 48px;
    float: left;
    display: block;
    margin: 0 0.5rem 0 0;
    /*padding-right: 0;
    padding-left: 20px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;*/
    padding: 0 0 0 20px;
    border: 1px solid var(--font-color);
    font-size: 1rem;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    //height: 42px;
    height: 3rem;
    line-height: 3rem;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    //border-left: 1px solid red;
    width: 20px;
    text-align: center;
    color: var(--font-color);
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 24px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-left: -9px;
    
    //background-color: aqua;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 1px;
    //border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}

.lines-shop {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -3.75em;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    
    @media (min-width: 769px) {
        display: block;
    }
}

.lines-shop .line {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 1px;
    //background-color: var(--secondary-color);
    background-color: rgba(191, 180, 143, 0.4);
}

.lines-shop .line:nth-child(1) {
    left: 0;
}

.lines-shop .line:nth-child(2) {
    left: 33.33333%;
}

.lines-shop .line:nth-child(3) {
    left: 66.66666%;
}

.lines-shop .line:nth-child(4) {
    left: 100%;
}
