/*************************************
  * Filename: style.less
  * Website: http://celleresclanya.com
  * Author: Sokvist
  * Author URI: http://sokvist.com
  * Date: 05/02/2020
  * Version: 1.0
**************************************/

@import "reset.less";
@import "variables.less";
@import "mixins.less";

/**************************************/

/* General styles */
body {
    font-family: 'Open Sans', sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
    font-weight: 400;
    line-height: 1.7;
}

h1,
h2,
h3,
h4 {
    font-family: 'Volkhov', serif;
    font-weight: 400;
    line-height: 1.1;
}

h1 {
    font-size: 2.25rem; // 36px
    
    @media (min-width: 768px) {
        font-size: 3.5rem; // 56px
    }
}

h2 {
    font-size: 2.5rem; // 40px
    
    @media (min-width: 768px) {
        font-size: 3.125rem; // 50px
    }
}

h3 {
    font-size: 1.875rem; // 30px
    
    @media (min-width: 768px) {
        font-size: 2.25rem; // 36px
    }
}

h4 {
    font-size: 1rem; // 16px
    text-transform: uppercase;
    
    @media (min-width: 768px) {
        font-size: 1.5rem; // 24px
    }
}

p {
    margin: 1.12rem 0;
    line-height: 1.9;
    font-size: 0.875rem; // 14px
    
    @media (min-width: 768px) {
        font-size: 0.938rem; // 15px
    }
}

.hidden {
    display: none;
}

/* Custom styles */
.lines {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.line {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 1px;
    background-color: var(--secondary-color);
}

.line:nth-child(1) {
    left: 20%;
}

.line:nth-child(2) {
    left: 50%;
}

.line:nth-child(3) {
    left: 80%;
}

.scrolled .line {
    width: 0;
}

.line-h {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background-color: var(--secondary-color);
    .transition02;
}

.line-h:nth-child(4) {
    top: 68px;
}

.line-h:nth-child(5) {
    //top: calc(50% - 68px);
    //top: ~"calc(50% - 68px)";
    top: 50%;
}

.scrolled .line-h {
    height: 0;
}

.more-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 40px;
    height: 30px;
    margin-left: -20px;
    text-align: center;
    //border-top: 1px solid var(--secondary-color);
    //background-color: var(--secondary-color);
    z-index: 10;
}

.more-btn svg {
    width: 30px;
    height: 30px;
    fill: var(--font-color);
}

.scrolled .more-btn {
    display: none;
}

.is-loading .wine-label {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-delay: 1.8s;
    //.transition04;
}

.wine-label {
    opacity: 1;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 50%;
    right: 80%;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-transparent);
    box-shadow: 1px 0 2px rgba(0, 0, 0, .05), 4px 0 12px rgba(0, 0, 0, .075);
    z-index: 10;
    .transition02;
    
    @media (min-width: 1025px) {
        width: 20%;
    }
}

.scrolled .wine-label {
    flex-direction: row-reverse;
    justify-content: flex-end;
    top: 0;
    bottom: auto;
    width: 50%;
    height: 68px;
    background: var(--bg-color);
    background: rgba(255, 238, 203, 0.9);
}

.wine-label a {
    display: flex;
    margin: 0 1rem;
}

.scrolled .wine-label a {
    margin: 0;
}

.scrolled .wine-label a.logo-ce {
    margin: 0 1rem 0 0;
    display: none;
    
    @media (min-width: 400px) {
        display: flex;
    }
}

.wine-label svg {
    fill: var(--font-color);
    .transition04;
}

.wine-label .svg-logo-ce {
    width: 220px;
    height: 40px;
}

.wine-label .svg-logo {
    width: 220px;
    height: auto;
    margin: 15px 15px 0 0;
}

.scrolled .wine-label .svg-logo {
    width: 60px;
    height: 50px;
    margin: 0 15px 0 15px;
}

.wine-label h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.313rem;
    font-size: 0.625rem; // 10px
    
    @media (min-width: 600px) {
        font-size: 0.75rem; // 12px
    }
    
    @media (min-width: 768px) {
        font-size: 0.875rem; // 14px
    }
}

.scrolled .wine-label h1 {
    display: none;
}

.cd-main-header {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    width: 50%;
    height: 68px;
    padding: 0;
    background: var(--bg-color);
    box-shadow: 1px 0 2px rgba(0, 0, 0, .05), 4px 0 12px rgba(0, 0, 0, .075);
    z-index: 10;
    
    //@media (min-width: 1025px) {
        //height: 68px;
    //}
}

.cd-main-header__container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    //justify-content: space-between;
    max-width: 80rem; // 1280px
    
    @media (min-width: 1025px) {
        flex-direction: row;
        align-items: center;
    }
}

.nav-trigger {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 68px;
    width: 68px;
    border-radius: 0;
    /* replace text with image */
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    pointer-events: auto;
    z-index: 3;
    
    @media (min-width: 1025px) {
        display: none;
    }
}

.nav-trigger:hover,
.nav-trigger:focus {
    border-bottom: none;
}

.nav-trigger span,
.nav-trigger span::after,
.nav-trigger span::before {
    /* this is the hamburger icon */
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: var(--font-color);
}

.nav-trigger span {
    /* middle line of the hamburger icon */
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    transition: background-color 0.2s;
}

.nav-trigger span::after,
.nav-trigger span::before {
    /* top and bottom lines of the hamburger icon */
    content: '';
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.2s;
}

.nav-trigger span::before {
    transform: translateY(-6px);
}

.nav-trigger span::after {
    transform: translateY(6px);
}

.no-touch .nav-trigger:hover ~ .stretchy-nav-bg {
  //box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.nav-is-visible .nav-trigger span {
    background-color: transparent;
}

.nav-is-visible .nav-trigger span::before {
    transform: rotate(-45deg);
}

.nav-is-visible .nav-trigger span::after {
    transform: rotate(45deg);
}

.main-menu {
    display: none;
    flex-direction: column;
    padding: 0;
    margin-top: 68px;
    background-color: var(--bg-color);
    .transition02;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    @media (min-width: 1025px) {
        flex-direction: row;
        margin-top: 0;
        padding: 0 1em;
        //visibility: visible;
        display: flex;
        position: relative;
        width: auto;
    }
}

.stretchy-nav.nav-is-visible .main-menu {
    display: flex;
}

.main-menu a {
    display: block;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--font-color);
    padding: 10px 14px;
    margin: 6px;
    opacity: 0;
    .transition04;
    
    @media (min-width: 1025px) {
        margin: 0 4px;
        opacity: 1;
    }
}

.stretchy-nav.nav-is-visible .main-menu a {
    opacity: 1;
    transition-delay: 0.25s;
}

.main-menu a:hover,
.main-menu a:focus {
    color: var(--secondary-color);
}

.main-menu .current a {
    background-color: var(--secondary-color);
}

.main-menu .current a:hover,
.main-menu .current a:focus {
    color: var(--font-color);
    cursor: auto;
}

/* Shop menu */
.shop-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 400px;
    padding: 0 0.5em;
    background-color: var(--font-color);
    height: 68px;
    
    @media (min-width: 600px) {
        padding: 0 1em;
    }
}

.shop-menu li {
    padding: 0 0.15em;
    
    @media (min-width: 400px) {
        padding: 0 0.5em;
    }
}

.shop-menu li:first-child {
    display: none;
    
    @media (min-width: 600px) {
        display: block;
    }
}

.shop-menu li:last-child {
    //padding-right: 0;
}

.shop-menu li > a,
.shop-menu li > span {
    border: 0;
    text-decoration: none;
}

.shop-menu li > a {
    display: flex;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    border-radius: 0;
    color: var(--primary-color);
    background-color: transparent;
    .transition04;
}

.shop-menu li a .icon {
    fill: var(--primary-color);
	vertical-align: middle;
	padding: 25%;
}

.shop-menu li > a:hover,
.shop-menu li > a:focus {
    background-color: var(--primary-color);
}

.shop-menu li a:hover .icon,
.shop-menu li a:focus .icon {
    fill: var(--font-color);
}

.shop-menu li > a .label,
.shop-menu li > span .label {
    display: none;
}

/* Language Switcher */
.language {
    display: none;
    align-items: center;
    margin-left: auto;
    height: 68px;
    background-color: var(--secondary-color);
    //box-shadow: 0 1px 2px rgba(0, 0, 0, .05), 0 4px 12px rgba(0, 0, 0, .075);
    
    @media (min-width: 360px) {
        display: flex;
    }
}

.language ul {
    width: 44px;
    height: 34px;
    position: relative;
    
    @media (min-width: 600px) {
        width: 66px;
    }
}

.language ul::after {
    position: absolute;
    content: "";
    width: 12px;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath d='M98.9,184.7l1.8,2.1l136,156.5c4.6,5.3,11.5,8.6,19.2,8.6c7.7,0,14.6-3.4,19.2-8.6L411,187.1l2.3-2.6 c1.7-2.5,2.7-5.5,2.7-8.7c0-8.7-7.4-15.8-16.6-15.8v0H112.6v0c-9.2,0-16.6,7.1-16.6,15.8C96,179.1,97.1,182.2,98.9,184.7z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 9px;
    
    @media (min-width: 600px) {
        width: 20px;
        background-size: 11px;
        display: flex;
    }
}

.language li {
    line-height: 34px;
    height: 34px;
    text-align: center;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    opacity: 0;
    display: none;
    background-color: var(--secondary-color);
    .transition04;
}

.language a {
    color: var(--font-color);
    text-decoration: none;
}

.language li:hover,
.language li:focus {
    //background-color: var(--primary-color);
}

.language li:hover a,
.language li:focus a {
    color: var(--bg-color);
}

.language li.active:hover a,
.language li.active:focus a {
    color: var(--font-color);
}

.language li.active,
.language.show li {
    opacity: 1;
    display: block;
}


/* Sections */
.cd-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    //padding: 3.25em 0;
    padding: 3.75em 0 5rem;
    font-size: 1.2em;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .1), 0 16px 48px rgba(0, 0, 0, .1), 0 24px 60px rgba(0, 0, 0, .1);
    z-index: 2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cd-section.subfooter {
    box-shadow: none;
    background-color: var(--secondary-color);
    text-align: center;
}

.cd-section--bg-fixed {
    min-height: 100vh;
    box-shadow: none;
    z-index: 1;
}

@media (min-width: 64rem) { // 1024px
    @supports (background-attachment: fixed) {
        .cd-section--bg-fixed {
            background-attachment: fixed;
        }
    }
}

.cd-section#bg-01 {
    background-image: url("../images/celler-esclanya-01-small.jpg");
}

.cd-section#bg-02 {
    background-image: url("../images/celler-esclanya-02-small.jpg");
}

.cd-section#bg-03 {
    background-image: url("../images/celler-esclanya-03-small.jpg");
}

.cd-section#bg-04 {
    background-image: url("../images/celler-esclanya-04-small.jpg");
}

.cd-section#bg-11 {
    background-image: url("../images/celler-esclanya-11-small.jpg");
}

.cd-section#bg-21 {
    background-image: url("../images/celler-esclanya-21-small.jpg");
}

.cd-section#bg-31 {
    background-image: url("../images/celler-esclanya-31-small.jpg");
}

.cd-section#bg-41 {
    background-image: url("../images/celler-esclanya-41-small.jpg");
}

@media (min-width: 64rem) { // 1024px
    
    .cd-section#bg-01 {
        background-image: url("../images/celler-esclanya-01.jpg");
    }

    .cd-section#bg-02 {
        background-image: url("../images/celler-esclanya-02.jpg");
    }

    .cd-section#bg-03 {
        background-image: url("../images/celler-esclanya-03.jpg");
    }

    .cd-section#bg-04 {
        background-image: url("../images/celler-esclanya-04.jpg");
    }

    .cd-section#bg-11 {
        background-image: url("../images/celler-esclanya-11.jpg");
    }

    .cd-section#bg-21 {
        background-image: url("../images/celler-esclanya-21.jpg");
    }

    .cd-section#bg-31 {
        background-image: url("../images/celler-esclanya-31.jpg");
    }

    .cd-section#bg-41 {
        background-image: url("../images/celler-esclanya-41.jpg");
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background-color: rgba(255, 238, 203, 0.1); //bg-color
    //background-color: rgba(214, 166, 64, 0.1); //primary-color
    background-color: rgba(191, 180, 143, 0.15); //secondary-color
    z-index: 2;
}

.container {
    /*width: calc(100% - 1.25em);
    width: ~"calc(100% - 1.25em)";
    margin-left: auto;
    margin-right: auto;
    
    //max-width: 48rem; // 768px
    max-width: 80rem; // 1280px*/
}

.text-component {}

.text-volkhov {
    font-family: 'Volkhov', serif;
}

/* Footer */
footer {
    position: relative
}

footer h2,
footer h3 {
    border-bottom: 2px solid var(--secondary-color);
    line-height: 3.125rem;
    margin-bottom: 2rem;
}

.social-media {
    cursor: default;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.social-media li {
    display: inline-block;
    padding: 0 0.65em 0 0;
}

.social-media li:last-child {
    padding-right: 0;
}

.social-media li > a,
.social-media li > span {
    border: 0;
    text-decoration: none;
}

.social-media li > a {
    display: flex;
    width: 34px;
    height: 34px;
    line-height: 34px;
    margin: 0;
    border-radius: 0;
    color: var(--bg-color);
    background-color: var(--font-color);
    .transition04;
}

.social-media li.location > a {
    width: 52px;
    height: 52px;
    line-height: 52px;
    color: var(--font-color);
    background-color: transparent;
}

.social-media li a .icon {
    fill: var(--bg-color);
	vertical-align: middle;
	padding: 10%;
}

.social-media li.location a .icon {
    fill: var(--font-color);
	padding: 0;
}

.social-media li > a:hover,
.social-media li > a:focus {
    background-color: var(--bg-color);
}

.social-media li a:hover .icon,
.social-media li a:focus .icon {
    fill: var(--font-color);
}

.social-media li.location > a:hover,
.social-media li.location > a:focus {
    background-color: var(--font-color);
}

.social-media li.location a:hover .icon,
.social-media li.location a:focus .icon {
    fill: var(--bg-color);
}

.social-media li a span {
    display: none;
}

.footer-menu a {
    display: block;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--font-color);
    padding: 0.438rem 0;
    margin: 0.625rem 0;
    .transition04;
}

footer input {
    width: calc(100% - 34px);
    width: ~"calc(100% - 34px)";
}

footer .button {
    width: 100%;
}

footer .control {
    margin: 0;
}

footer small {
    display: block;
    font-size: 0.688rem;
}

footer small a {
    color: var(--font-color);
}

.legal-pages {
    margin: 2.5rem auto;
}

.legal-pages li {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.7;
    padding: 4px 6px;
    margin: 0 4px;
    
    @media (min-width: 480px) {
        display: inline;
    }
}

.legal-pages li::after {
    display: none;
    content: "·";
    margin-left: 20px;
    
    @media (min-width: 480px) {
        display: inline-block;
    }
}

.legal-pages li:last-child::after {
    display: none;
}

.legal-pages li a {
    display: inline-block;
    text-decoration: none;
    color: var(--font-color);
    border-bottom: 1px solid transparent;
}

.legal-pages li a:hover,
.legal-pages li a:focus {
    border-color: var(--font-color);
}

/* Back to Top */
#back-to-top {
	display: block;
	background-color: var(--font-color);
	margin: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 44px;
	height: 44px;
    text-align: center;
	z-index: 99;
	.transition04;
}

#back-to-top:hover,
#back-to-top:focus {
	background-color: var(--secondary-color);
}

#back-to-top::before {
	font-size: 20px;
	color: var(--secondary-color);
	line-height: 44px;
    display: inline-block;
    content: '\25b2';
}

#back-to-top:hover::before,
#back-to-top:focus::before {
    color: var(--font-color);
}


/* Elements */
.button {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color: var(--bg-color);
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.063rem;
    background-color: var(--primary-color);
    height: 50px;
    line-height: 50px;
    //padding: 0.75rem 2rem;
    padding: 0 1.35rem;
    margin: 0.5rem auto;
    //border: 1px solid var(--primary-color);
    border: 0;
    cursor: pointer;
    .transition04;
    -webkit-appearance: none;
    border-radius: 0;
    
    @media (min-width: 400px) {
        font-size: 1rem;
    }
}

.button:hover,
.button:focus {
    background-color: var(--font-color);
    color: var(--primary-color);
}

input {
    height: 48px;
    line-height: 48px;
    display: block;
    margin: 0;
    padding: 0 16px;
    border: 1px solid var(--font-color);
    background-color: var(--bg-color);
    font-size: 1rem;
    -webkit-appearance: none;
    border-radius: 0;
}


/**************************************/


@import "shop.less";
@import "plugins.less";
@import "grid.less";
